name: Gh-Pages

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - uses: bluefireteam/flutter-gh-pages@v7
        with:
          workingDir: app
          baseHref: /pubdev-explorer/
          customArgs: --dart-define="PUB_ENDPOINT=https://nsfunnybrown9o79drtm-fct-pub.functions.fnc.fr-par.scw.cloud/"
